* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #ffffff;
  --text-color: #202020;
  --link-color: #0077cc;
}

[data-theme="dark-mode"] {
  --background-color: #202020;
  --text-color: #ffffff;
  --link-color: #5bbafa;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container label {
  align-self: flex-end;
}

input {
  margin: 0 10px;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

p, li {
  font-size: 0.95rem;
  list-style-type: none;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-color-visited);
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
  }
}