body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.imagem {
  width: 100vw;
}

.text {
  padding: 5px;
  margin: 0;
  flex: 1;
  font-size: clamp(10px, 5vw, 22px);
}

@media screen and (min-width: 768px) {
  .container {
    margin: 5px;
    flex-direction: row;
  }

  .imagem {
    margin-top: 20px;
    flex: 1;
    width: 30vw;
  }
}